<!DOCTYPE html>
<html>
<head>
    @{
        string title = "Day Drama-ing";
    }
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@title</title>
    <link href="@Url.Content("~/Content/1140.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/ie.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/styles.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/themes/redmond/jquery-ui.css")" rel="stylesheet" type="text/css" />


    <script src="@Url.Content("~/Scripts/jquery-1.7.2.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.8.21.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/modernizr-1.7.min.js")" type="text/javascript"></script>
</head>
    <body>
        <header>
            <div class="container">
                <div class="row">
                     <div class="threecol img site-logo"><img alt="@ViewBag.Title" src="@Url.Content("~/Content/Images/logo.png")" /></div>
                     <div class="ninecol last site-title"> @Html.ActionLink(title, "Index", "Home")</div>
                </div>
            </div>
        </header>

        <div class="container" id="body">
              @RenderBody()
        </div>

        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - My ASP.NET MVC Application</p>
                </div>
                <div class="float-right">
                    <ul id="social">
                        <li><a href="http://facebook.com" class="facebook">Facebook</a></li>
                        <li><a href="http://twitter.com" class="twitter">Twitter</a></li>
                    </ul>
                </div>
            </div>
        </footer>
    </body>
</html>
