<!DOCTYPE html>
<html>
<head>
    @{
        string title = ViewBag.Title;
        Exception error = ViewBag.Error;
    }
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="Day Drama-ing - learning Through Drama. We provide quality interactive drama workshops." />
    <meta name="keywords" content="day drama, day drama-ing, learning through drama, theatre education, theatre in education, theatre in education companies, tie theatre in education, theatre in education company, drama education, drama in education, drama workshops schools, drama workshops children, drama workshops, drama for school, play in a day, drama companies, drama service, role play training">
    <meta name="robots" content="index, follow">

    <title>@title</title>
    <link href="@Url.Content("~/Content/grid/reset.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/grid/text.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/grid/960.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/style.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/themes/redmond/jquery-ui.css")" rel="stylesheet" type="text/css" />


    <script src="@Url.Content("~/Scripts/jquery-1.7.2.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.8.21.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/modernizr-1.7.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-32969711-1']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>

</head>
    <body id="page-home">

    @if (error != null)
    {
        @Html.Raw(error.ToString())
    }

    <div id="wrapper">

        <div id="header">
            <div class="container_16 clearfix">

                <div id="header-left" class="grid_8 alpha">
                    <h1 id="logo">@Html.ActionLink("Day Drama-ing", "Index", "Home")<span class="logo-sub"> | learning through drama</span></h1>
                </div>

                <div id="header-right" class="grid_8 omega floatright">

                    <div id="nav">
                        <ul>
                            <li id="about">@Html.ActionLink("About","About","Home")</li>
                            <li id="book">@Html.ActionLink("Book","Index","Book")</li>
                            <li id="contact">@Html.ActionLink("Contact","Contact","Home")</li>
                           
                            @if (Context.User.Identity.IsAuthenticated)
                            {
                                <li id="admin">@Html.ActionLink("Admin", "Index", "Admin")</li>
                            }

                        </ul>
                    </div>

                </div>

            </div>
        </div>

        <div id="main" class="clearfix">
            <div class="container_16 clearfix">
                <div class="content">
                    @RenderBody()
                </div>
             </div>
        </div>

        <div id="footer">
            <div class="container_16"> 
               <div  id="copyright" class="grid_6">
                <p>All Content Copyright &copy; <strong>Katy Weir</strong> 2012 &mdash; 2012.</p>
               </div>
               <div id="links-credit" class="grid_10">
                
                    <ul>
                        <li>@Html.ActionLink("About","About","Home")</li>
             
                        <li>@Html.ActionLink("Contact","Contact","Home")</li>

                        

                        @if (Context.User.Identity.IsAuthenticated)
                        {
                            <li id="admin">@Html.ActionLink("Admin", "Index", "Admin")</li>
                            <li>@Html.ActionLink("Log off", "LogOff", "Account")</li>
                        }
                        else
                        {
                            <li>@Html.ActionLink("Login", "LogOn", "Account")</li>
                        }
                        
                    </ul>
               </div>
            </div>
            <br clear="all">
        </div>

    </div>
    </body>
</html>
