@model DayDramaing.Models.ContactModel

@using (Html.BeginForm("Contact","Home")) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Contact</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
           
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Email)
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Telephone)
            @Html.ValidationMessageFor(model => model.Telephone)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Telephone)
            
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Enquiry)
            @Html.ValidationMessageFor(model => model.Enquiry)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Enquiry)
       
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CaptchaValid)
            @Html.ValidationMessageFor(model => model.CaptchaValid)
        </div>
        <div class="editor-field">
            @Html.GenerateCaptcha()
            
        </div>

        <div class="button">
        <input type="submit" value="Send" />
        </div>

    </fieldset>
}
