@model DayDramaing.Models.ChangePasswordModel

@{
    ViewBag.Title = "ChangePassword";
}

<div class="page-title intro grid_16">
    <h2>Change Password</h2>
</div>

<div class="single-col grid_16">

    <p>
        Please enter your old and new password.
    </p>

@Html.ValidationSummary(true, "Password change was unsuccessful. Please correct the errors and try again.")

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Change Password</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.OldPassword)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.OldPassword)
            @Html.ValidationMessageFor(model => model.OldPassword)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NewPassword)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NewPassword)
            @Html.ValidationMessageFor(model => model.NewPassword)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ConfirmPassword)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ConfirmPassword)
            @Html.ValidationMessageFor(model => model.ConfirmPassword)
        </div>

        <input type="submit" value="Save" />
        
    </fieldset>
}

</div>

<div class="single-col grid_16">
   <p>@Html.ActionLink("Home", "Index", "Home")</p> 
</div>
